.galeria_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 470px;
    padding: 4px;
    grid-gap: 4px;
    text-align: center;
}
.galeria__img{
    height: 100%;
    margin: auto;
    object-fit:cover;
}
.galeria__item{
    background-color: black;
}
.galeria__item:nth-child(1){
    grid-column-start: span 3;
}
.galeria__item:nth-child(3){
    grid-column-start: span 4;
}
.galeria__item:nth-child(4){
    grid-column-start: span 4;
}
.galeria__item:nth-child(6){
    grid-column-start: span 2;
}
.galeria__item:nth-child(8){
    grid-column-start: span 2;
}
.galeria__item:nth-child(9){
    grid-column-start: span 2;
}
.galeria__item:nth-child(10){
    grid-column-start: span 4;
}
.galeria__item:nth-child(11){
    grid-column-start: span 4;
}

@media (min-width:1px) and (max-width:768px){
.galeria_container{
    grid-auto-rows: 190px;
}
.galeria__item{
    grid-column-start: span 4;
}
.galeria__item:nth-child(1){
    grid-column-start: span 4;
}
.galeria__item:nth-child(2){
    grid-column-start: span 2;
}
.galeria__item:nth-child(3){
    grid-column-start: span 2;
}
.galeria__item:nth-child(4){
    grid-column-start: span 4;
}
.galeria__item:nth-child(5){
    grid-column-start: span 4;
}
.galeria__item:nth-child(6){
    grid-column-start: span 2;
}
.galeria__item:nth-child(7){
    grid-column-start: span 2;
}
.galeria__item:nth-child(8){
    grid-column-start: span 4;
}
.galeria__item:nth-child(9){
    grid-column-start: span 4;
}
.galeria__item:nth-child(10){
    grid-column-start: span 4;
}
.galeria__item:nth-child(11){
    grid-column-start: span 4;
}
.galeria__item:nth-child(12){
    grid-column-start: span 2;
}
.galeria__item:nth-child(13){
    grid-column-start: span 2;
}
.galeria__item:nth-child(14){
    grid-column-start: span 2;
}
.galeria__item:nth-child(15){
    grid-column-start: span 2;
}
.galeria__item:nth-child(17){
    grid-column-start: span 2;
}
.galeria__item:nth-child(18){
    grid-column-start: span 2;
}
.galeria__item:nth-child(19){
    grid-column-start: span 2;
}
.galeria__item:nth-child(20){
    grid-column-start: span 2;
}
.galeria__item:nth-child(21){
    grid-column-start: span 4;
}
}